@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.card-largura {
    max-width: 18rem;
}

.imagem-carrossel {
    object-fit: cover;
    object-position: 0 80%;
    height: 400px;
    opacity: 90%;
}

.fonte-titulo {
    font-family: "Pacifico", sans-serif;
}

.cor-especial {
    color: darkred !important;
}

.botao-cor-especial {
    background-color: darkred;
    color: white;
}

.botao-cor-especial:hover {
    color: black;
}

.borda-cor-especial {
    border-color: darkred;
}

.card-posicao-imagem {
    object-fit: cover;
    height: 200px;
}